@use "./componentes/main" as main;
@use "./componentes/header" as header;
@use "./componentes/noticas" as noticias;
@use "./componentes/torneos" as torneos;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');






body{
    font-family: sans-serif;
    margin: 0;
    h1{
        font-weight: 2rem;
    }
}






/*pagina torneo decoracion*/






/* pagina de contacto*/
.contact-page{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.afa.com.ar/upload/banners/FqjS3buWYAAln7i.jpg); 
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
    
}

@media (max-width: 767px){
    .contact-page{
        background-size: auto 100%;
    }

    form{
        padding: 30px;

    }
    input,
    textarea{
        padding: 10px 15px;
    }

    .input-group{
        padding: 0 15px;
    }
}

form {
    padding: 50px 55px;
    border-radius: 20px;
    text-align: center;
    width: 340px;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: white;
    
}
.title-contact{
    color:white;
    font-size: 35px;
    font-family: sans-serif;
    text-transform: uppercase;
    text-decoration: underline;
}

label{
    color:white;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    text-transform: uppercase;
}

input,textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid white;
    color: black;
    outline: none;
}
form #Enviar{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-transform: uppercase;
}


.btn{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border: radius 25px;
    background-color: #000;
    box-shadow: #294f8c;
    cursor: pointer;
}
.btn:hover{
    background-color: #000;
}

@media(max-width:767px) {

    .title-contact{
        font-size: 30px;
    }
    

form{
    padding: 30px;
    width: 90%;
}
input{
    padding: 15px;
}
}

