@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header {
  display: flex;
  background-color: #294f8c;
  justify-content: space-between;
  min-height: 70px;
  align-items: center;
  padding: auto;
}

.dropdown {
  position: relative;
}
.dropdown .btn-secondary {
  border: none;
  background-color: #000;
  color: #fff;
}
.dropdown .btn-secondary:focus {
  box-shadow: none;
}
.dropdown .btn-secondary::after {
  display: none;
}
.dropdown .dropdown-menu {
  background-color: #000;
}
.dropdown .dropdown-menu .dropdown-item {
  color: #fff;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .nav-important {
    display: block;
  }
  .dropdown {
    display: block;
  }
  .dropdown-menu {
    display: none;
  }
  .dropdown-menu.show {
    display: block;
  }
}
.nav-important .nav-item {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.nav-item:hover {
  color: white;
}

.nav-important:hover {
  color: white;
}

.header-info {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  margin-right: 40px;
}

.logo img {
  height: 90px;
}

a {
  text-decoration: none;
  color: black;
  margin: 10px;
}

nav a {
  font-weight: 600;
}

nav a:hover {
  color: white;
}

.nav-important {
  text-decoration: none;
}

@media (max-width: 700px) {
  header {
    flex-direction: row;
  }
  nav {
    padding: 40px 0px 20px;
  }
  .title-argentina {
    display: flex;
    align-items: center;
    color: black;
    text-transform: uppercase;
  }
  .logo {
    align-items: flex-start;
    justify-content: center;
  }
}
body {
  font-family: sans-serif;
  margin: 0;
}
body h1 {
  font-weight: 2rem;
}

.carousel-inner, p {
  color: white;
  text-transform: uppercase;
}

.carousel-item, p {
  color: white;
}

.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
}

/*decoracion pagina principal*/
.style-carousel {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title-argentina {
  font-size: 2rem;
  margin: inherit;
  font-weight: 1000;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.carousel-item {
  position: relative;
}

.title-carousel {
  color: white;
}

.body-content {
  background-color: #eee;
  width: 100%;
  margin: 1.9em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(2, 1fr);
}

.content {
  margin-left: 30px;
  margin-top: 60px;
}

.col {
  justify-content: center;
  display: flex;
}

.article-two, p {
  margin-right: 30px;
}

.article {
  margin-bottom: 100px;
}

.article, p {
  color: black;
  margin-top: 30px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.style-carousel p {
  color: #FFFFFF;
  line-height: 1.6;
  margin-bottom: 10px;
}

#carouselExampleDark {
  margin-right: 40px;
}

.paragraph-barracas {
  margin-left: 40px;
}

.image-femenino {
  border: black solid 6px;
  display: flex;
}

.paragraph-femenino {
  margin-left: 40px;
}

@media (max-width: 767px) {
  .style-carousel {
    width: 100%;
  }
  .style-carousel p {
    font-size: 10px;
  }
  .style-carousel h5 {
    font-size: 10px;
  }
}
.container {
  margin-top: 50px;
}

/* decoracion pagina noticias*/
.article-content p {
  font-weight: bold;
}

.notice-content {
  display: grid;
  margin: 1.19em auto;
  grid-template-columns: repeat(2, 1fr);
  background: #eee;
  margin-left: px;
}

.image-tapia {
  border: black solid 5px;
}

.column-images {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: end;
  margin-left: 50px;
}

.image-secondary {
  border: black solid 5px;
  display: flex;
}

.paragraph-kinesiologos {
  margin-left: 40px;
  font-weight: bold;
}

.article-content p {
  margin-left: 20px;
}

.article-content h2 {
  margin-left: 260px;
}

.image-var {
  display: flex;
  border: black solid 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.paragraph-var {
  margin-left: 40px;
  font-weight: bold;
}

.image-easports {
  display: flex;
  border: black solid 5px;
}

.paragraph-easports {
  margin-left: 40px;
  font-weight: bold;
}

/* decoracion para Agenda*/
.title-container {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px;
  margin-right: 200px;
}

.card:last-child {
  margin-right: 100px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  margin-top: 0;
}

.card-image {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
  border-radius: 5px;
}

.card-description {
  margin-top: 40px;
}

/*pagina torneo decoracion*/
.title-agenda {
  margin-top: 80px;
  text-align: center;
  color: #294f8c;
}

.subtitle-tournaments {
  margin-top: 19px;
}

.main-title {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 60px;
}

.card-section {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-section img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-section p {
  font-size: 18px;
  margin-bottom: 10px;
}

.right-card {
  margin-top: 110px;
  margin-left: 200px;
}

.list-container {
  background-color: #294f8c;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}
.list-container h3 {
  color: white;
}
.list-container li {
  margin-top: 40px;
  color: white;
}

.list-title {
  margin-top: 0;
}

.list-items {
  list-style-type: none;
  padding: 0;
}

.list-items li {
  margin-bottom: 10px;
}

.image-container {
  text-align: right;
}

.list-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* pagina de contacto*/
.contact-page {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.afa.com.ar/upload/banners/FqjS3buWYAAln7i.jpg);
  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

@media (max-width: 767px) {
  .contact-page {
    background-size: auto 100%;
  }
  form {
    padding: 30px;
  }
  input,
  textarea {
    padding: 10px 15px;
  }
  .input-group {
    padding: 0 15px;
  }
}
form {
  padding: 50px 55px;
  border-radius: 20px;
  text-align: center;
  width: 340px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}

.title-contact {
  color: white;
  font-size: 35px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}

label {
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

input, textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: white;
  border: 2px solid white;
  color: black;
  outline: none;
}

form #Enviar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

.btn {
  font-size: 16px;
  color: #FFFFFF;
  border: 0;
  border: radius 25px;
  background-color: #000;
  box-shadow: #294f8c;
  cursor: pointer;
}

.btn:hover {
  background-color: #000;
}

@media (max-width: 767px) {
  .title-contact {
    font-size: 30px;
  }
  form {
    padding: 30px;
    width: 90%;
  }
  input {
    padding: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
